*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(53,18,111,1) 100%);
    color: white;
    padding: 20px;
    font-family: 'Roboto';
}

.container-app h2{
    text-align: center;
    font-size: 26px;
}

.search{
    padding-right: 20px;
    margin: 10px;
}

.search input{
    width: 100%;
}

.grid-container h3{
    text-align: center;
    margin: 10px;
}

.grid-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-item {
    position: relative;
    margin: 10px;
    border: 1px solid white;
}

.grid-item > img{
    height: 220px;
}

.grid-item > p{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 5px;
    z-index: 3;
    background-color: black;
    display: none;
}

.grid-item:hover p{
    display: block;
}
